.current-day {
    background-color: rgb(98, 0, 128);
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 2%;
    color: white;
}

.start-day {
    background-color: rgb(6, 180, 29);
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 2%;
    color: white;
}

.end-day {
    background-color: rgb(138, 3, 3);
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 2%;
    color: white;
}